<ion-content>
    <ion-list>
        <ion-card *ngFor="let item of partDList" (click)="itemSelected(item)">
            <ion-card-header primary>Number: {{item.panelNumber}}</ion-card-header>
            <ion-card-content>{{item.manufactureTechnique | sentence}}<br>{{item.affiliations | sentence}}</ion-card-content>
        </ion-card>
    </ion-list>
    <div class="emptyListText" *ngIf="partDList.length === 0">
        There is no rock art or panels to display. <br> Add one with the plus button.
    </div>
    <button class="addButton" fab (click)="addClicked()"><ion-icon name="add"></ion-icon></button>
</ion-content>
