<ion-navbar primary>
    <ion-title>{{title}}</ion-title>
</ion-navbar>

<ion-content>
    <ion-list>
        <ion-item *ngFor="let item of sites" (click)="itemSelected(item)">
            {{item.temporaryName}}
            <ion-icon class="moreDots" name="more" (click)="moreInfo(item, $event)"></ion-icon>
        </ion-item>
    </ion-list>
    <div class="emptyListText" *ngIf="sites.length === 0">
        There are no sites to display. <br> Add one with the plus button.
    </div>
    <button class="addButton" fab (click)="addClicked()"><ion-icon name="add"></ion-icon></button>
</ion-content>
