.addButton {
    right: 20px;
    bottom: 20px;
}

.moreDots {
    float: right;
    padding-left: 30px;
}

.boldText {
    color: black !important;
}

.emptyListText {
    margin-top: 20vh;
    text-align: center;
    font-size: 1.2em;
}

.text-input {
    text-align: right;
}

ion-label {
    font-size: 1.1em;
}
