.addButton {
    right: 20px;
    bottom: 20px;
}

.moreDots {
    float: right;
    padding-left: 20px;
}

.emptyListText {
    margin-top: 20vh;
    text-align: center;
    font-size: 1.2em;
}

.text-input {
    text-align: right;
}
