<ion-content>
    <ion-list>
        <ion-list-header>
            Location and Dimension
        </ion-list-header>
        <ion-grid>
            <ion-row>
                <ion-col><ion-item>
                    <ion-label class="boldText">UTMs :</ion-label>
                    <ion-label>Zone</ion-label>
                    <ion-input #zone type="number" (change)="saveData('UTMzone', zone.value)" value="{{partA.UTMzone}}"></ion-input>
                </ion-item></ion-col>
                <ion-col><ion-item>
                    <ion-label>East</ion-label>
                    <ion-input #east type="number" (change)="saveData('UTMe', east.value)" value="{{partA.UTMe}}"></ion-input>
                </ion-item></ion-col>
                <ion-col><ion-item>
                    <ion-label>North</ion-label>
                    <ion-input #north type="number" (change)="saveData('UTMn', north.value)" value="{{partA.UTMn}}"></ion-input>
                </ion-item></ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col><ion-item>
                    <ion-label>Length</ion-label>
                    <ion-input #length type="number" (change)="saveData('dimensionL', length.value); saveData('area', length.value*width.value)" value="{{partA.dimensionL}}"></ion-input>m
                </ion-item></ion-col>
                <ion-col><ion-item>
                    <ion-label>Width</ion-label>
                    <ion-input #width type="number" (change)="saveData('dimensionW', width.value); saveData('area', length.value*width.value)" value="{{partA.dimensionW}}"></ion-input>m
                </ion-item></ion-col>
                <ion-col><ion-item>
                    <ion-label>Area</ion-label>
                    <ion-input disabled #area type="number" value="{{partA.area}}"></ion-input>m²
                </ion-item></ion-col>
            </ion-row>
        </ion-grid>
        <ion-list-header>
            Class and Type
        </ion-list-header>
        <ion-item>
            <ion-label>Class</ion-label>
            <ion-select #class (change)="saveData('class', class._values)" multiple='true' [(ngModel)]=partA.class>
                <ion-option value="Prehistoric" checked="{{partA.class.indexOf('Prehistoric') !== -1 ? 'true' : 'false'}}">Prehistoric</ion-option>
                <ion-option value="Ethnographic" checked="{{partA.class.indexOf('Ethnographic') !== -1 ? 'true' : 'false'}}">Ethnographic</ion-option>
                <ion-option value="Historic" checked="{{partA.class.indexOf('Historic') !== -1 ? 'true' : 'false'}}">Historic</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="partA.class.indexOf('Prehistoric') !== -1 || partA.class.indexOf('Ethnographic') !== -1">
            <ion-label>Prehistoric or Ethnographic</ion-label>
            <ion-select #typeP (change)="saveData('prehistoricType', typeP._values)" multiple='true' [(ngModel)]=partA.prehistoricType>
                <ion-option *ngFor="let type of prehistoricTypes" value={{type.name}} checked="{{partA.prehistoricType.indexOf(type.name) !== -1 ? 'true' : 'false'}}">
                    {{type.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="partA.prehistoricType.indexOf('Other Prehistoric') !== -1">
            <ion-label>Other Prehistoric</ion-label>
            <ion-input #otherP type="text" (change)="saveData('otherPrehistoric', otherP.value)" value={{partA.otherPrehistoric}}></ion-input>
        </ion-item>
        <ion-item *ngIf="partA.class.indexOf('Historic') !== -1">
            <ion-label>Historic</ion-label>
            <ion-select #typeH (change)="saveData('historicType', typeH._values)" multiple='true' [(ngModel)]=partA.historicType>
                <ion-option *ngFor="let type of historicTypes" value={{type.name}} checked="{{partA.historicType.indexOf(type.name) !== -1 ? 'true' : 'false'}}">
                    {{type.name}}
                </ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="partA.historicType.indexOf('Other Historic') !== -1">
            <ion-label>Other Historic</ion-label>
            <ion-input #otherH type="text" (change)="saveData('otherHistoric', otherH.value)" value={{partA.otherHistoric}}></ion-input>
        </ion-item>
        <ion-list-header>
            Additional Information
        </ion-list-header>
        <ion-item>
            <ion-label>NRHP</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Site Description</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Additional Comments</ion-label>
        </ion-item>
        <ion-item>
            <ion-label>Location and Access</ion-label>
        </ion-item>
    </ion-list>
</ion-content>


this.partA = {id: '', parentId: this.siteId, UTMZone: '', UTME: '', UTMN: '', dimensionL: '', dimensionW: '', area: '',
class: '', type: '', nrhpStatus: '', nrhpJustification: '', siteDescription: [], partAComments: [], locationAccess: []};
